# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.spec

# Virtual environment
venv/
.env/

# PyInstaller artifacts
*.manifest
*.exe
*.dll
*.pyd
*.bak
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Test files
tests/
test_*.py
